---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import CarouselOfertas from "../components/home/CarouselOfertas.astro";
import CarouselComida from "../components/home/CarouselComida.astro";
---

<Layout>
  <Nav />
  <div class="container">
    <CarouselOfertas />
    <CarouselComida />
  </div>
</Layout>
