---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import CarouselTest from "../components/CarouselTest.astro";
import CarouselComida from "../components/home/CarouselComida.astro";
---

<Layout>
  <Nav />
  <div class="container">
    <CarouselTest />
    <CarouselComida />
  </div>
</Layout>
