<div class="owl-carousel owl-carousel-ofertas">
  <a href="https://google.com" target="_blank">
    <img
      src="https://via.placeholder.com/400x300/eaa?text=Oferta1"
      alt="Oferta1"
    />
  </a>
  <a href="https://google.com" target="_blank">
    <img
      src="https://via.placeholder.com/400x300/eaa?text=Oferta2"
      alt="Oferta2"
    />
  </a>
  <a href="https://google.com" target="_blank">
    <img
      src="https://via.placeholder.com/400x300/eaa?text=Oferta3"
      alt="Oferta3"
    />
  </a>
  <a href="https://google.com" target="_blank">
    <img
      src="https://via.placeholder.com/400x300/eaa?text=Oferta4"
      alt="Oferta4"
    />
  </a>
  <a href="https://google.com" target="_blank">
    <img
      src="https://via.placeholder.com/400x300/eaa?text=Oferta5"
      alt="Oferta5"
    />
  </a>
  <a href="https://google.com" target="_blank">
    <img
      src="https://via.placeholder.com/400x300/eaa?text=Oferta6"
      alt="Oferta6"
    />
  </a>
  <a href="https://google.com" target="_blank">
    <img
      src="https://via.placeholder.com/400x300/eaa?text=Oferta7"
      alt="Oferta7"
    />
  </a>
</div>

<script lang="js">
$(".owl-carousel-ofertas").owlCarousel({
  items: 1.5,
  center: true,
  loop: true,
  margin: 10,
  autoplay: true,
  autoplayTimeout: 3000,
  autoplayHoverPause: true,
  dots: true,
  nav: true,
  responsive: {
    768: {
      items: 3,
    },
  },
});
</script>
