<div class="owl-carousel owl-carousel-comidas">
  <a href="https://google.com" target="_blank">
    <img
      src="https://via.placeholder.com/400x300/b42?text=Comida1&color="
      alt="Comida1"
    />
  </a>
  <a href="https://google.com" target="_blank">
    <img
      src="https://via.placeholder.com/400x300/b42?text=Comida2"
      alt="Comida2"
    />
  </a>
  <a href="https://google.com" target="_blank">
    <img
      src="https://via.placeholder.com/400x300/b42?text=Comida3"
      alt="Comida3"
    />
  </a>
  <a href="https://google.com" target="_blank">
    <img
      src="https://via.placeholder.com/400x300/b42?text=Comida4"
      alt="Comida4"
    />
  </a>
  <a href="https://google.com" target="_blank">
    <img
      src="https://via.placeholder.com/400x300/b42?text=Comida5"
      alt="Comida5"
    />
  </a>
  <a href="https://google.com" target="_blank">
    <img
      src="https://via.placeholder.com/400x300/b42?text=Comida6"
      alt="Comida6"
    />
  </a>
  <a href="https://google.com" target="_blank">
    <img
      src="https://via.placeholder.com/400x300/b42?text=Comida7"
      alt="Comida7"
    />
  </a>
</div>

<script lang="js">
$(".owl-carousel-comidas").owlCarousel({
  items: 2.3,
  loop: true,
  margin: 10,
  autoplay: true,
  autoplayTimeout: 2500,
  autoplayHoverPause: true,
  responsive: {
    480: {
      items: 3.6,
    },
    768: {
      items: 4.6,
    },
  },
});
</script>
