<div class="owl-carousel owl-carousel-test">
  <div class="item">Your Content</div>
  <div class="item">Your Content</div>
  <div class="item">Your Content</div>
  <div class="item">Your Content</div>
  <div class="item">Your Content</div>
  <div class="item">Your Content</div>
  <div class="item">Your Content</div>
</div>

<style>
  .item {
    background-color: aliceblue;
    border-radius: 1rem;
    padding: 1rem;
  }
</style>

<script lang="js">
$(".owl-carousel-test").owlCarousel({ margin: 10, autoplay: true });
</script>
