<nav>
  <a href="/">Home</a>
  <a href="/page2">Page 2</a>
</nav>

<style>
  nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: azure;
  }

  a {
    text-decoration: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    color: white;
    background-color: burlywood;
  }
</style>
